h1 {
    color: black;
    font-size: 80px;
}


.termekek {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
  }
  .jordan1{
    margin: 20px;
  }
  .jordan4{
    margin: 20px;
  }
  .jordan1, .jordan4, .air1{
    height: 100%;
    width: 200px;
    margin-right: 10px;
    display: flex;
    flex-direction: column; 
  }
 .jordan1 img, .jordan4 img, .air1 img {
    width: 100%;
    height: auto;
    object-fit: cover; 
  }
 
  

 